useDynLib(lamle, .registration = TRUE)
export("DGP", "lamle", "lamle.fit", "lamle.sim", "lamle.compute", "lamle.predict", "lamle.plot")
importFrom(Rcpp, evalCpp, sourceCpp)
importFrom(stats, cor, dnorm, na.omit, nlminb, optim, rnbinom, rmultinom, rnorm, rpois, runif, var)
importFrom(numDeriv, grad, jacobian)
importFrom(mvtnorm, rmvnorm)
importFrom(fastGHQuad, gaussHermiteData)
importFrom(grDevices, hcl.colors)
importFrom(graphics, par)
importFrom(methods, new)